<% content_for :head do %>
<%= javascript_include_tag 'search' %>
<% end %>

<h1>Map</h1>
<h2>Managing Accounts &amp; Permissions</h2>

<form id="search-form" class="inset">
<p>Search for <%= link_to 'users', directory_users_path %> or <%= link_to 'groups', directory_groups_path %>:</p>
<input id="search" type="search" autofocus />
<ul id="results">
</ul>
</form>
